body{
    margin: 0px;
}

#app {
    background-color: black;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

#inputbox-root {
    background-color: aqua;
    flex-grow: 0;
    display: flex;
}

#inputbox-root * {
    flex: 1;
    margin: 1em;
}

button {
    background-color: #2ECC71;
    color: white;
    padding: 2em;
}