body{
    display: flex;
    flex-direction: column;
}

#list-content {
    background-color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#list-content * {
    color: white;
    flex: 1;
}

#input-section {
    display: flex;
}

#input-section * {
    flex: 1;
    margin: 1em;
}

button {
    background-color: #2ECC71;
    color: white;
    padding: 2em;
}