body{
    display: flex;
    flex-direction: column;
}

#list-content {
    background-color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#item-template {
    padding: 1em;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#item-template li {
    font-size: medium;
    list-style-type: none;
}

#item-template button {
    background-color: #E74C3C;
}

#input-section {
    display: flex;
}

#input-section * {
    flex: 1;
    margin: 1em;
}

button {
    background-color: #2ECC71;
    color: white;
    padding: 2em;
}