#todolist-root {
    flex-grow: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    overflow-y: auto;
}

#item-content {
    background-color: white;
    box-shadow: 0 0.3em 0.5em grey;
    margin-bottom: 1em;
    padding: 0.7em 1em;
    border-radius: 1em;
    display: flex;
    flex-basis: content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#item-content li {
    font-size: x-large;
    list-style-type: none;
}

#item-content button {
    background-color: #E74C3C;
}